{% extends 'main_app/base.html' %}
{% block page_title %}{{ page_title }}{% endblock page_title %}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-dark">
                        <div class="card-header">
                            <h3 class="card-title">{{ page_title }}</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group table">
                                {% if no_responses %}
                                    <p>No responses available for this questionnaire.</p>
                                {% else %}
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Question</th>
                                                <th>Response</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for row in rows %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ row.question }}</td>
                                                    <td>{{ row.response }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="response-info">
                                        <div class="edit-counter-box">
                                            <p>No. of Edits can be performed: {{ edit_counter_value }}</p>
                                        </div>
                                        <button class="btn btn-success">Edit</button>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
